<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148205558572-1vuljigo7s42dk7085j1pjhrpv5iidnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148205558572-1vuljigo7s42dk7085j1pjhrpv5iidnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCwnBga2CooczpK0yNn9IiVadjqUhaX0dw</string>
	<key>GCM_SENDER_ID</key>
	<string>148205558572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sidoruk.ArtableAdmin</string>
	<key>PROJECT_ID</key>
	<string>artable-63c60</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-63c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148205558572:ios:b674a0a95546ba5c</string>
	<key>DATABASE_URL</key>
	<string>https://artable-63c60.firebaseio.com</string>
</dict>
</plist>